.layers-fill {
  height: 29px;
  left: 488px;
  position: relative;
  top: 4037px;
  width: 29px;
}

.layers-fill .overlap-group-4 {
  height: 22px;
  left: 5px;
  position: relative;
  top: 4px;
  width: 19px;
}

.layers-fill .vector-3 {
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.layers-fill .subtract-4 {
  height: 7px;
  left: 1px;
  position: absolute;
  top: 9px;
  width: 18px;
}

.layers-fill .subtract-5 {
  height: 7px;
  left: 1px;
  position: absolute;
  top: 15px;
  width: 18px;
}
