.img-load-box-fill {
  height: 35px;
  left: 1282px;
  position: relative;
  top: 3255px;
  width: 35px;
}

.img-load-box-fill .overlap-group-5 {
  height: 29px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 29px;
}

.img-load-box-fill .subtract-6 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 29px;
}

.img-load-box-fill .rectangle-4 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.img-load-box-fill .ellipse-8 {
  background-color: #f2831d;
  border-radius: 2.92px;
  height: 6px;
  left: 17px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.img-load-box-fill .vector-4 {
  height: 7px;
  left: 1px;
  position: absolute;
  top: 20px;
  width: 7px;
}
